ğŸ‘ª ì—¬í–‰ì êµ¬ì„± ê¸°ë°˜ ë¶„ì„, ğŸ§’ ìë…€ ë™ë°˜ ì—¬ë¶€, ğŸ  ìˆ™ë°• ìœ í˜•ê³¼ ì—¬í–‰ ìŠ¤íƒ€ì¼, ğŸš— ì´ë™ìˆ˜ë‹¨/êµí†µë¹„ ê¸°ë°˜ ë¶„ë¥˜, ğŸ¡ ì—¬í–‰ì§€ ì„±ê²©ê³¼ í–‰ë™ ì—°ê²°

## ì›ë³¸ ë°ì´í„°

In [16]:
import pandas as pd

file_path = r'C:\Users\hanaj\OneDrive\ë¬¸ì„œ\[ê°•ë‚¨êµ¬í˜ì‹ ì¸ì¬ìœ¡ì„±ì•„ì¹´ë°ë¯¸]ë°ì´í„°ë¶„ì„\ë¯¸ë‹ˆí”„ë¡œì íŠ¸\êµ­ë‚´ì—¬í–‰ë¡œê·¸ë°ì´í„°\ë™ë¶€ê¶Œ\TS_csv'
pre_con = pd.read_csv(file_path + r'\tn_adv_consume_his_ì‚¬ì „ì†Œë¹„ë‚´ì—­_B.csv')
com = pd.read_csv(file_path + r'\tn_companion_info_ë™ë°˜ìì •ë³´_B.csv')

display(pre_con.head())
display(com.head())

,TRAVEL_ID,ADV_NM,ADV_SEQ,PAYMENT_NUM,BRNO,STORE_NM,ROAD_NM_ADDR,LOTNO_ADDR,ROAD_NM_CD,LOTNO_CD,PAYMENT_DT,PAYMENT_MTHD_SE,PAYMENT_AMT_WON,PAYMENT_ETC,SGG_CD
0,b_b004151,ìŒë£Œìˆ˜,0,3,NaN,ì´ë§ˆíŠ¸ ê²€ë‹¨ì,NaN,NaN,NaN,NaN,NaN,1.0,5780,ìŒë£Œìˆ˜,2.826011e+09
1,b_b016253,ì‹í’ˆ,1,3,NaN,í™ˆí”ŒëŸ¬ìŠ¤,NaN,NaN,NaN,NaN,2022-11-03 07:50:00.000,1.0,86760,ì‹ ì„ íŠ¹ë€ 30ê°œì… ì™¸ 22ê±´,NaN
2,b_b007535,ì‹í’ˆ,2,3,7.589901e+09,ê²½ì„±ìˆ˜ì‚°ì„¼í„°,ë¶€ì‚° ë‚¨êµ¬ ìš©ì†Œë¡œ8ë²ˆê¸¸ 17,ë¶€ì‚° ë‚¨êµ¬ ëŒ€ì—°ë™ 68-7,4193212.0,2.629011e+09,2022-10-22 15:17:00.000,1.0,31000,ëª¨ë“¬íšŒ,NaN
3,b_b010037,ë²„ìŠ¤í‘œ,1,1,6.058122e+09,ë¶€ì‚°ì„œë¶€ë²„ìŠ¤í„°ë¯¸ë‚ ì£¼ì‹íšŒì‚¬,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´‘ì¥ë¡œ21ë²ˆê¸¸ 20,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´˜ë²•ë™ 532-1,4217042.0,2.653010e+09,2022-10-30 08:14:00.000,1.0,12400,ë²„ìŠ¤ë¹„,NaN
4,b_b001032,ì‹í’ˆ,0,5,NaN,ë‹¤ë†ì—˜ë§ˆíŠ¸,NaN,NaN,NaN,NaN,NaN,1.0,176530,ì†Œê³ ê¸° ë“± ì—¬ëŸ¬ ì·¨ì‹ìŒì‹ë¬¼,4.311314e+09

,COMPANION_SEQ,TRAVEL_ID,REL_CD,COMPANION_GENDER,COMPANION_AGE_GRP,COMPANION_SITUATION
0,1,b_b002151,1,1,6,1
1,5,b_b004786,6,2,4,3
2,1,b_b002864,1,1,7,1
3,1,b_b011077,2,2,1,1
4,3,b_b000838,2,1,1,1

## ì»¬ëŸ¼ ë³€ê²½

In [17]:
pre_con_id = {
    "TRAVEL_ID": "ì—¬í–‰ID",
    "ADV_NM": "êµ¬ë§¤ë‚´ì—­",
    "ADV_SEQ": "êµ¬ë§¤ìˆœë²ˆ",
    "PAYMENT_NUM": "ì†Œë¹„ì¸ì›",
    "BRNO": "ì‚¬ì—…ìë“±ë¡ë²ˆí˜¸",
    "STORE_NM": "ìƒí˜¸ëª…",
    "ROAD_NM_ADDR": "ë„ë¡œëª…ì£¼ì†Œ",
    "LOTNO_ADDR": "ì§€ë²ˆì£¼ì†Œ",
    "ROAD_NM_CD": "ë„ë¡œëª…ì½”ë“œ",
    "LOTNO_CD": "ì§€ë²ˆì½”ë“œ",
    "PAYMENT_DT": "ê²°ì œì¼ì‹œë¶„",
    "PAYMENT_MTHD_SE": "ê²°ì œìˆ˜ë‹¨êµ¬ë¶„",      ## PAY
    "PAYMENT_AMT_WON": "ê²°ì œê¸ˆì•¡_ì›",
    "PAYMENT_ETC": "ì†Œë¹„ë‚´ì—­_ê¸°íƒ€",
    "SGG_CD": "ì‹œêµ°êµ¬ì½”ë“œ"
}

com_id = {
    "COMPANION_SEQ": "ë™ë°˜ììˆœë²ˆ",
    "TRAVEL_ID": "ì—¬í–‰ID",
    "REL_CD": "ë™ë°˜ìê´€ê³„ì½”ë“œ",                  ## TCR
    "COMPANION_GENDER": "ë™ë°˜ìì„±ë³„",           ## GEN
    "COMPANION_AGE_GRP": "ë™ë°˜ìì—°ë ¹ëŒ€",        ## AGE
    "COMPANION_SITUATION": "ë™ë°˜ìë™ë°˜ìƒí™©"     ## CST
}

pre_con.rename(columns=pre_con_id, inplace=True)
com.rename(columns=com_id, inplace=True)

display(pre_con.head())
display(com.head())

,ì—¬í–‰ID,êµ¬ë§¤ë‚´ì—­,êµ¬ë§¤ìˆœë²ˆ,ì†Œë¹„ì¸ì›,ì‚¬ì—…ìë“±ë¡ë²ˆí˜¸,ìƒí˜¸ëª…,ë„ë¡œëª…ì£¼ì†Œ,ì§€ë²ˆì£¼ì†Œ,ë„ë¡œëª…ì½”ë“œ,ì§€ë²ˆì½”ë“œ,ê²°ì œì¼ì‹œë¶„,ê²°ì œìˆ˜ë‹¨êµ¬ë¶„,ê²°ì œê¸ˆì•¡_ì›,ì†Œë¹„ë‚´ì—­_ê¸°íƒ€,ì‹œêµ°êµ¬ì½”ë“œ
0,b_b004151,ìŒë£Œìˆ˜,0,3,NaN,ì´ë§ˆíŠ¸ ê²€ë‹¨ì,NaN,NaN,NaN,NaN,NaN,1.0,5780,ìŒë£Œìˆ˜,2.826011e+09
1,b_b016253,ì‹í’ˆ,1,3,NaN,í™ˆí”ŒëŸ¬ìŠ¤,NaN,NaN,NaN,NaN,2022-11-03 07:50:00.000,1.0,86760,ì‹ ì„ íŠ¹ë€ 30ê°œì… ì™¸ 22ê±´,NaN
2,b_b007535,ì‹í’ˆ,2,3,7.589901e+09,ê²½ì„±ìˆ˜ì‚°ì„¼í„°,ë¶€ì‚° ë‚¨êµ¬ ìš©ì†Œë¡œ8ë²ˆê¸¸ 17,ë¶€ì‚° ë‚¨êµ¬ ëŒ€ì—°ë™ 68-7,4193212.0,2.629011e+09,2022-10-22 15:17:00.000,1.0,31000,ëª¨ë“¬íšŒ,NaN
3,b_b010037,ë²„ìŠ¤í‘œ,1,1,6.058122e+09,ë¶€ì‚°ì„œë¶€ë²„ìŠ¤í„°ë¯¸ë‚ ì£¼ì‹íšŒì‚¬,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´‘ì¥ë¡œ21ë²ˆê¸¸ 20,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´˜ë²•ë™ 532-1,4217042.0,2.653010e+09,2022-10-30 08:14:00.000,1.0,12400,ë²„ìŠ¤ë¹„,NaN
4,b_b001032,ì‹í’ˆ,0,5,NaN,ë‹¤ë†ì—˜ë§ˆíŠ¸,NaN,NaN,NaN,NaN,NaN,1.0,176530,ì†Œê³ ê¸° ë“± ì—¬ëŸ¬ ì·¨ì‹ìŒì‹ë¬¼,4.311314e+09

   ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID  ë™ë°˜ìê´€ê³„ì½”ë“œ  ë™ë°˜ìì„±ë³„  ë™ë°˜ìì—°ë ¹ëŒ€  ë™ë°˜ìë™ë°˜ìƒí™©
0      1  b_b002151        1      1       6        1
1      5  b_b004786        6      2       4        3
2      1  b_b002864        1      1       7        1
3      1  b_b011077        2      2       1        1
4      3  b_b000838        2      1       1        1

## -----ë²”ì£¼í˜• ë³€í™˜ì— ì°¸ê³ í•œ ë°ì´í„°-----

In [18]:
code_A = pd.read_csv(file_path + r'\tc_codea_ì½”ë“œA.csv')
code_B = pd.read_csv(file_path + r'\tc_codeb_ì½”ë“œB.csv')

display(code_A.head())
display(code_B.head())

,idx,cd_nm,cd_a,cd_memo,cd_memo2,del_flag,order_num,perm_write,perm_edit,perm_delete,ins_dt,edit_dt
0,5,ì—¬í–‰ìƒíƒœ,STA,NaN,NaN,N,999,N,N,N,2022-07-05 10:33:02.000,NaN
1,6,ë°©ë¬¸ì§€ìœ í˜•ì½”ë“œ,VIS,NaN,NaN,N,999,N,N,N,2022-07-05 10:45:53.000,NaN
2,7,ì£¼ìš” ì´ë™ìˆ˜ë‹¨,MOV,NaN,NaN,N,999,N,N,N,2022-07-05 10:48:39.000,NaN
3,8,ì¬ë°©ë¬¸ì—¬ë¶€,REV,NaN,NaN,N,999,N,N,N,2022-07-05 11:27:33.000,NaN
4,9,ë°©ë¬¸ì„ íƒì´ìœ,REN,NaN,NaN,N,999,N,N,N,2022-07-05 11:28:18.000,NaN

,idx,cd_nm,cd_a,cd_b,cd_memo,cd_memo2,del_flag,order_num,ins_dt,edit_dt
0,992,ìµœì´ˆ ë¡œê·¸ì¸,STA,11,NaN,NaN,N,999,2022-07-05 10:37:07.000,NaN
1,993,í…ŒìŠ¤íŠ¸ ì‚¬ì§„ ì—…ë¡œë“œ,STA,12,NaN,NaN,N,999,2022-07-05 10:40:24.000,NaN
2,994,ì˜ˆì •ì—¬í–‰ì§€ë³€ê²½ì‹ ì²­,STA,13,NaN,NaN,N,999,2022-07-05 10:44:25.000,NaN
3,995,ì˜ˆì •ì—¬í–‰ì§€ë³€ê²½ìŠ¹ì¸,STA,14,NaN,NaN,N,999,2022-07-05 10:44:32.000,NaN
4,996,ì—¬í–‰ ì¤‘,STA,20,NaN,NaN,N,999,2022-07-05 10:44:38.000,NaN

## ë²”ì£¼í˜• ë³€í™˜

In [19]:
def dic_map(table, code, col):
    code_map = code_B[code_B['cd_a']== code][['cd_b', 'cd_nm']]
    code_map['cd_b'] = code_map['cd_b'].astype(int)
    code_dic = code_map.set_index('cd_b')['cd_nm'].to_dict()
    table[col] = table[col].astype("Int64").map(code_dic)
    return table
    

pre_con = dic_map(pre_con, 'PAY', 'ê²°ì œìˆ˜ë‹¨êµ¬ë¶„')
com = dic_map(com, 'TCR', 'ë™ë°˜ìê´€ê³„ì½”ë“œ')
com = dic_map(com, 'GEN', 'ë™ë°˜ìì„±ë³„')
com = dic_map(com, 'AGE', 'ë™ë°˜ìì—°ë ¹ëŒ€')
com = dic_map(com, 'CST', 'ë™ë°˜ìë™ë°˜ìƒí™©')

display(pre_con.head())
display(com.head())

,ì—¬í–‰ID,êµ¬ë§¤ë‚´ì—­,êµ¬ë§¤ìˆœë²ˆ,ì†Œë¹„ì¸ì›,ì‚¬ì—…ìë“±ë¡ë²ˆí˜¸,ìƒí˜¸ëª…,ë„ë¡œëª…ì£¼ì†Œ,ì§€ë²ˆì£¼ì†Œ,ë„ë¡œëª…ì½”ë“œ,ì§€ë²ˆì½”ë“œ,ê²°ì œì¼ì‹œë¶„,ê²°ì œìˆ˜ë‹¨êµ¬ë¶„,ê²°ì œê¸ˆì•¡_ì›,ì†Œë¹„ë‚´ì—­_ê¸°íƒ€,ì‹œêµ°êµ¬ì½”ë“œ
0,b_b004151,ìŒë£Œìˆ˜,0,3,NaN,ì´ë§ˆíŠ¸ ê²€ë‹¨ì,NaN,NaN,NaN,NaN,NaN,ì¹´ë“œ ì¼ì‹œë¶ˆ,5780,ìŒë£Œìˆ˜,2.826011e+09
1,b_b016253,ì‹í’ˆ,1,3,NaN,í™ˆí”ŒëŸ¬ìŠ¤,NaN,NaN,NaN,NaN,2022-11-03 07:50:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,86760,ì‹ ì„ íŠ¹ë€ 30ê°œì… ì™¸ 22ê±´,NaN
2,b_b007535,ì‹í’ˆ,2,3,7.589901e+09,ê²½ì„±ìˆ˜ì‚°ì„¼í„°,ë¶€ì‚° ë‚¨êµ¬ ìš©ì†Œë¡œ8ë²ˆê¸¸ 17,ë¶€ì‚° ë‚¨êµ¬ ëŒ€ì—°ë™ 68-7,4193212.0,2.629011e+09,2022-10-22 15:17:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,31000,ëª¨ë“¬íšŒ,NaN
3,b_b010037,ë²„ìŠ¤í‘œ,1,1,6.058122e+09,ë¶€ì‚°ì„œë¶€ë²„ìŠ¤í„°ë¯¸ë‚ ì£¼ì‹íšŒì‚¬,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´‘ì¥ë¡œ21ë²ˆê¸¸ 20,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´˜ë²•ë™ 532-1,4217042.0,2.653010e+09,2022-10-30 08:14:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,12400,ë²„ìŠ¤ë¹„,NaN
4,b_b001032,ì‹í’ˆ,0,5,NaN,ë‹¤ë†ì—˜ë§ˆíŠ¸,NaN,NaN,NaN,NaN,NaN,ì¹´ë“œ ì¼ì‹œë¶ˆ,176530,ì†Œê³ ê¸° ë“± ì—¬ëŸ¬ ì·¨ì‹ìŒì‹ë¬¼,4.311314e+09

   ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID ë™ë°˜ìê´€ê³„ì½”ë“œ ë™ë°˜ìì„±ë³„ ë™ë°˜ìì—°ë ¹ëŒ€   ë™ë°˜ìë™ë°˜ìƒí™©
0      1  b_b002151     ë°°ìš°ì    ë‚¨ì    50ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
1      5  b_b004786     ì¹œì¸ì²™    ì—¬ì    30ëŒ€   ì—¬í–‰ ì¤‘ í•©ë¥˜
2      1  b_b002864     ë°°ìš°ì    ë‚¨ì    60ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
3      1  b_b011077      ìë…€    ì—¬ì  ~9ì„¸ì´í•˜  ê³„ì† í•¨ê»˜ ì—¬í–‰
4      3  b_b000838      ìë…€    ë‚¨ì  ~9ì„¸ì´í•˜  ê³„ì† í•¨ê»˜ ì—¬í–‰

## ë²”ì£¼í˜• ë³€í™˜ í•˜ë‚˜ì”© ë°”ê¾¼ê²ƒ -----

In [51]:
pay_map = code_B[code_B['cd_a']=='PAY'][['cd_b', 'cd_nm']]
pay_map['cd_b'] = pay_map['cd_b'].astype(int)
pay_dic = pay_map.set_index('cd_b')['cd_nm'].to_dict()
pre_con['ê²°ì œìˆ˜ë‹¨êµ¬ë¶„'] = pre_con['ê²°ì œìˆ˜ë‹¨êµ¬ë¶„'].astype("Int64").map(pay_dic)
pre_con

,ì—¬í–‰ID,êµ¬ë§¤ë‚´ì—­,êµ¬ë§¤ìˆœë²ˆ,ì†Œë¹„ì¸ì›,ì‚¬ì—…ìë“±ë¡ë²ˆí˜¸,ìƒí˜¸ëª…,ë„ë¡œëª…ì£¼ì†Œ,ì§€ë²ˆì£¼ì†Œ,ë„ë¡œëª…ì½”ë“œ,ì§€ë²ˆì½”ë“œ,ê²°ì œì¼ì‹œë¶„,ê²°ì œìˆ˜ë‹¨êµ¬ë¶„,ê²°ì œê¸ˆì•¡_ì›,ì†Œë¹„ë‚´ì—­_ê¸°íƒ€,ì‹œêµ°êµ¬ì½”ë“œ
0,b_b004151,ìŒë£Œìˆ˜,0,3,NaN,ì´ë§ˆíŠ¸ ê²€ë‹¨ì,NaN,NaN,NaN,NaN,NaN,ì¹´ë“œ ì¼ì‹œë¶ˆ,5780,ìŒë£Œìˆ˜,2.826011e+09
1,b_b016253,ì‹í’ˆ,1,3,NaN,í™ˆí”ŒëŸ¬ìŠ¤,NaN,NaN,NaN,NaN,2022-11-03 07:50:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,86760,ì‹ ì„ íŠ¹ë€ 30ê°œì… ì™¸ 22ê±´,NaN
2,b_b007535,ì‹í’ˆ,2,3,7.589901e+09,ê²½ì„±ìˆ˜ì‚°ì„¼í„°,ë¶€ì‚° ë‚¨êµ¬ ìš©ì†Œë¡œ8ë²ˆê¸¸ 17,ë¶€ì‚° ë‚¨êµ¬ ëŒ€ì—°ë™ 68-7,4193212.0,2.629011e+09,2022-10-22 15:17:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,31000,ëª¨ë“¬íšŒ,NaN
3,b_b010037,ë²„ìŠ¤í‘œ,1,1,6.058122e+09,ë¶€ì‚°ì„œë¶€ë²„ìŠ¤í„°ë¯¸ë‚ ì£¼ì‹íšŒì‚¬,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´‘ì¥ë¡œ21ë²ˆê¸¸ 20,ë¶€ì‚° ì‚¬ìƒêµ¬ ê´˜ë²•ë™ 532-1,4217042.0,2.653010e+09,2022-10-30 08:14:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,12400,ë²„ìŠ¤ë¹„,NaN
4,b_b001032,ì‹í’ˆ,0,5,NaN,ë‹¤ë†ì—˜ë§ˆíŠ¸,NaN,NaN,NaN,NaN,NaN,ì¹´ë“œ ì¼ì‹œë¶ˆ,176530,ì†Œê³ ê¸° ë“± ì—¬ëŸ¬ ì·¨ì‹ìŒì‹ë¬¼,4.311314e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,b_b011685,ì‹í’ˆ,0,3,NaN,ê³°ì‹ìì¬ë§ˆíŠ¸,NaN,NaN,NaN,NaN,NaN,í˜„ê¸ˆ,23600,ë¼ë©´;ê³¼ì,4.729025e+09
871,b_b002556,CJìŠˆí¼ë ˆì´ìŠ¤ ê´€ëŒê¶Œ ì˜ˆë§¤,1,1,2.298137e+09,ì˜ˆìŠ¤ì´ì‹­ì‚¬(ì£¼),ì„œìš¸ ì˜ë“±í¬êµ¬ ì€í–‰ë¡œ 11,ì„œìš¸ ì˜ë“±í¬êµ¬ ì—¬ì˜ë„ë™ 15-15,3118025.0,1.156011e+09,2022-08-18 19:34:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,10300,2022 CJëŒ€í•œí†µìš´ ìŠˆí¼ë ˆì´ìŠ¤ ì±”í”¼ì–¸ì‹­ ROUND.5,NaN
872,b_b007906,ê¸°ì°¨í‘œ,1,2,3.148210e+09,í•œêµ­ì² ë„ê³µì‚¬,ëŒ€ì „ ë™êµ¬ ì¤‘ì•™ë¡œ 240,ëŒ€ì „ ë™êµ¬ ì†Œì œë™ 293-74,3164033.0,3.011011e+09,2022-10-10 14:07:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,11400,ì²­ëŸ‰ë¦¬ì—­-ê°€í‰ì—­ ê¸°ì°¨í‘œ(itx-ì²­ì¶˜),NaN
873,b_b003018,ìŒë£Œ;ë‹´ë°°,0,4,NaN,CU,NaN,NaN,NaN,NaN,NaN,ì¹´ë“œ ì¼ì‹œë¶ˆ,9500,ìŒë£Œ;ë‹´ë°°,4.115011e+09
874,b_b007047,ê³µì—°í‹°ì¼“,1,1,5.248602e+09,ë„¤ì´ë²„íŒŒì´ë‚¸ì…œ ì£¼ì‹íšŒì‚¬,ê²½ê¸° ì„±ë‚¨ì‹œ ë¶„ë‹¹êµ¬ ì •ìì¼ë¡œ 95,ê²½ê¸° ì„±ë‚¨ì‹œ ë¶„ë‹¹êµ¬ ì •ìë™ 178-4,3180021.0,4.113510e+09,2022-10-31 00:00:00.000,ì¹´ë“œ ì¼ì‹œë¶ˆ,44000,2022 HeMeets in BUSAN,NaN

In [44]:
relation_map = code_B[code_B['cd_a']=='TCR'][['cd_b', 'cd_nm']]
relation_map['cd_b'] = relation_map['cd_b'].astype(int)
relation_dic = relation_map.set_index('cd_b')['cd_nm'].to_dict()
relation_dic[0] = 'í˜¼ìì—¬í–‰'
com['ë™ë°˜ìê´€ê³„ì½”ë“œ'] = com['ë™ë°˜ìê´€ê³„ì½”ë“œ'].astype("Int64").map(relation_dic)
com

      ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID ë™ë°˜ìê´€ê³„ì½”ë“œ  ë™ë°˜ìì„±ë³„  ë™ë°˜ìì—°ë ¹ëŒ€  ë™ë°˜ìë™ë°˜ìƒí™©
0         1  b_b002151     ë°°ìš°ì      1       6        1
1         5  b_b004786     ì¹œì¸ì²™      2       4        3
2         1  b_b002864     ë°°ìš°ì      1       7        1
3         1  b_b011077      ìë…€      2       1        1
4         3  b_b000838      ìë…€      1       1        1
...     ...        ...     ...    ...     ...      ...
4927      2  b_b007950      ë¶€ëª¨      2       8        1
4928      2  b_b004623      ì¹œêµ¬      2       3        1
4929      4  b_b010803      ìë…€      1       4        1
4930      3  b_b000064      ì¹œêµ¬      2       4        1
4931      2  b_b007043      ì¹œêµ¬      2       4        1

[4932 rows x 6 columns]

In [45]:
sex_map = code_B[code_B['cd_a']=='GEN'][['cd_b', 'cd_nm']]
sex_map['cd_b'] = sex_map['cd_b'].astype(int)
sex_dic = sex_map.set_index('cd_b')['cd_nm'].to_dict()
com['ë™ë°˜ìì„±ë³„'] = com['ë™ë°˜ìì„±ë³„'].astype("Int64").map(sex_dic)
com

      ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID ë™ë°˜ìê´€ê³„ì½”ë“œ ë™ë°˜ìì„±ë³„  ë™ë°˜ìì—°ë ¹ëŒ€  ë™ë°˜ìë™ë°˜ìƒí™©
0         1  b_b002151     ë°°ìš°ì    ë‚¨ì       6        1
1         5  b_b004786     ì¹œì¸ì²™    ì—¬ì       4        3
2         1  b_b002864     ë°°ìš°ì    ë‚¨ì       7        1
3         1  b_b011077      ìë…€    ì—¬ì       1        1
4         3  b_b000838      ìë…€    ë‚¨ì       1        1
...     ...        ...     ...   ...     ...      ...
4927      2  b_b007950      ë¶€ëª¨    ì—¬ì       8        1
4928      2  b_b004623      ì¹œêµ¬    ì—¬ì       3        1
4929      4  b_b010803      ìë…€    ë‚¨ì       4        1
4930      3  b_b000064      ì¹œêµ¬    ì—¬ì       4        1
4931      2  b_b007043      ì¹œêµ¬    ì—¬ì       4        1

[4932 rows x 6 columns]

In [48]:
age_map = code_B[code_B['cd_a']=='AGE'][['cd_b', 'cd_nm']]
age_map['cd_b'] = age_map['cd_b'].astype(int)
age_dic = age_map.set_index('cd_b')['cd_nm'].to_dict()
com['ë™ë°˜ìì—°ë ¹ëŒ€'] = com['ë™ë°˜ìì—°ë ¹ëŒ€'].astype("Int64").map(age_dic)
com

      ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID ë™ë°˜ìê´€ê³„ì½”ë“œ ë™ë°˜ìì„±ë³„ ë™ë°˜ìì—°ë ¹ëŒ€  ë™ë°˜ìë™ë°˜ìƒí™©
0         1  b_b002151     ë°°ìš°ì    ë‚¨ì    50ëŒ€        1
1         5  b_b004786     ì¹œì¸ì²™    ì—¬ì    30ëŒ€        3
2         1  b_b002864     ë°°ìš°ì    ë‚¨ì    60ëŒ€        1
3         1  b_b011077      ìë…€    ì—¬ì  ~9ì„¸ì´í•˜        1
4         3  b_b000838      ìë…€    ë‚¨ì  ~9ì„¸ì´í•˜        1
...     ...        ...     ...   ...    ...      ...
4927      2  b_b007950      ë¶€ëª¨    ì—¬ì  70ì„¸ì´ìƒ        1
4928      2  b_b004623      ì¹œêµ¬    ì—¬ì    20ëŒ€        1
4929      4  b_b010803      ìë…€    ë‚¨ì    30ëŒ€        1
4930      3  b_b000064      ì¹œêµ¬    ì—¬ì    30ëŒ€        1
4931      2  b_b007043      ì¹œêµ¬    ì—¬ì    30ëŒ€        1

[4932 rows x 6 columns]

In [50]:
sit_map = code_B[code_B['cd_a']=='CST'][['cd_b', 'cd_nm']]
sit_map['cd_b'] = sit_map['cd_b'].astype(int)
sit_dic = sit_map.set_index('cd_b')['cd_nm'].to_dict()
com['ë™ë°˜ìë™ë°˜ìƒí™©'] = com['ë™ë°˜ìë™ë°˜ìƒí™©'].astype("Int64").map(sit_dic)
com

      ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID ë™ë°˜ìê´€ê³„ì½”ë“œ ë™ë°˜ìì„±ë³„ ë™ë°˜ìì—°ë ¹ëŒ€   ë™ë°˜ìë™ë°˜ìƒí™©
0         1  b_b002151     ë°°ìš°ì    ë‚¨ì    50ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
1         5  b_b004786     ì¹œì¸ì²™    ì—¬ì    30ëŒ€   ì—¬í–‰ ì¤‘ í•©ë¥˜
2         1  b_b002864     ë°°ìš°ì    ë‚¨ì    60ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
3         1  b_b011077      ìë…€    ì—¬ì  ~9ì„¸ì´í•˜  ê³„ì† í•¨ê»˜ ì—¬í–‰
4         3  b_b000838      ìë…€    ë‚¨ì  ~9ì„¸ì´í•˜  ê³„ì† í•¨ê»˜ ì—¬í–‰
...     ...        ...     ...   ...    ...       ...
4927      2  b_b007950      ë¶€ëª¨    ì—¬ì  70ì„¸ì´ìƒ  ê³„ì† í•¨ê»˜ ì—¬í–‰
4928      2  b_b004623      ì¹œêµ¬    ì—¬ì    20ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
4929      4  b_b010803      ìë…€    ë‚¨ì    30ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
4930      3  b_b000064      ì¹œêµ¬    ì—¬ì    30ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰
4931      2  b_b007043      ì¹œêµ¬    ì—¬ì    30ëŒ€  ê³„ì† í•¨ê»˜ ì—¬í–‰

[4932 rows x 6 columns]

In [13]:
## ë™ë°˜ìì—°ë ¹ëŒ€
age_map = code_B[code_B['cd_a'] == 'AGE'][['cd_b','cd_nm']]
age_map['cd_b'] = age_map['cd_b'].astype(int)
merge_com = com.merge(age_map, left_on='ë™ë°˜ìì—°ë ¹ëŒ€', right_on='cd_b', how='left')
merge_com = merge_com.drop(columns=['cd_b'])
merge_com = merge_com.rename(columns={'cd_nm': "ë™ë°˜ìì—°ë ¹ëŒ€_ë‚˜ì´"})
merge_com

      ë™ë°˜ììˆœë²ˆ       ì—¬í–‰ID  ë™ë°˜ìê´€ê³„ì½”ë“œ  ë™ë°˜ìì„±ë³„  ë™ë°˜ìì—°ë ¹ëŒ€  ë™ë°˜ìë™ë°˜ìƒí™© ë™ë°˜ìì—°ë ¹ëŒ€_ë‚˜ì´
0         1  b_b002151        1      1       6        1       50ëŒ€
1         5  b_b004786        6      2       4        3       30ëŒ€
2         1  b_b002864        1      1       7        1       60ëŒ€
3         1  b_b011077        2      2       1        1     ~9ì„¸ì´í•˜
4         3  b_b000838        2      1       1        1     ~9ì„¸ì´í•˜
...     ...        ...      ...    ...     ...      ...       ...
4927      2  b_b007950        3      2       8        1     70ì„¸ì´ìƒ
4928      2  b_b004623        7      2       3        1       20ëŒ€
4929      4  b_b010803        2      1       4        1       30ëŒ€
4930      3  b_b000064        7      2       4        1       30ëŒ€
4931      2  b_b007043        7      2       4        1       30ëŒ€

[4932 rows x 7 columns]