In [1]:
import pandas as pd
df=pd.read_csv("../../data/east/TL_csv/tn_activity_consume_his_활동소비내역_B.csv")
df1 = pd.read_csv("../../data/east/VL_csv/tn_activity_consume_his_활동소비내역_B.csv")
df2 = pd.read_csv("../../data/east/TS_csv/tn_activity_consume_his_활동소비내역_B.csv")
df3 = pd.read_csv("../../data/east/VS_csv/tn_activity_consume_his_활동소비내역_B.csv")

In [2]:
df['TRAVEL_ID'].nunique()

3843

In [3]:
df1['TRAVEL_ID'].nunique()

1740

In [4]:
dupl_data = pd.merge(df,df1, how = 'inner')
print(len(dupl_data))
# ...? 중복된 데이터가 없으면 여행자 id가 4000개가 넘는다는 소린데? ...?

0

In [5]:
df2['TRAVEL_ID'].nunique()

3843

In [6]:
df3['TRAVEL_ID'].nunique()

1740

In [7]:
dupl_data1 = pd.merge(df,df2, how= 'inner')
print(len(dupl_data1))

19824

# 원천데이터와 라벨링 데이터셋의 차이는 없기때문에 한가지의 set만 골라서 전처리 진행하면 될것이다.

In [8]:
# 사용할 파일 불러오기 여행객 파일 2개 활동소비내역 2개
cons_his = pd.concat([df,df1],axis = 0 , ignore_index=True)
trav_mas_df1 = pd.read_csv("../../data/east/TL_csv/tn_traveller_master_여행객 Master_B.csv")
trav_mas_df2 = pd.read_csv("../../data/east/VL_csv/tn_traveller_master_여행객 Master_B.csv")
trav_mas = pd.concat([trav_mas_df1,trav_mas_df2],axis=0, ignore_index=True)
pd.DataFrame(cons_his)

,TRAVEL_ID,VISIT_AREA_ID,ACTIVITY_TYPE_CD,ACTIVITY_TYPE_SEQ,CONSUME_HIS_SEQ,CONSUME_HIS_SNO,PAYMENT_NUM,BRNO,STORE_NM,ROAD_NM_ADDR,LOTNO_ADDR,ROAD_NM_CD,LOTNO_CD,PAYMENT_DT,PAYMENT_MTHD_SE,PAYMENT_AMT_WON,PAYMENT_ETC,SGG_CD
0,b_b011174,2210240003,2,1,1,1,1,NaN,코레일유통,대구 동구 동대구로 550,NaN,3007004.0,2.714010e+09,2022-10-24 19:16:00.000,1.0,8000.0,NaN,NaN
1,b_b004534,2210010001,1,0,0,1,3,7.083900e+09,방하착커피앤베이커리,강원 속초시 설악산로 1096,강원 속초시 설악동 151,3223005.0,4.221011e+09,2022-10-01 10:52:00.000,1.0,18000.0,아이스아메리카노,NaN
2,b_b005652,2210120003,1,0,0,1,1,1.728701e+09,내류사,경북 경주시 영불로 263-7,경북 경주시 진현동 71-10,3305043.0,4.713013e+09,2022-10-12 11:29:00.000,1.0,5800.0,ICE바닐라라떼,NaN
3,b_b006597,2210160004,2,4,4,0,2,NaN,베스트할인마트,부산시 동래구 복천로5번길 34 상가동103호,NaN,NaN,NaN,NaN,1.0,1400.0,NaN,2.626010e+09
4,b_b002171,2208210004,1,0,0,1,2,8.081601e+09,도문,강원 속초시 상도문1길 31,강원 속초시 도문동 206-1,4469108.0,4.221011e+09,2022-08-21 11:34:00.000,1.0,11000.0,아메리카노(ICE),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22297,b_b000720,2209010005,1,0,0,1,1,1.078657e+09,코레일유통㈜,강원 강릉시 강동면 정동역길 17,강원 강릉시 강동면 정동진리 303,4460884.0,4.215034e+09,2022-09-01 14:42:00.000,1.0,3200.0,ICED 아메리카노,NaN
22298,b_b005175,2210220002,1,0,0,1,2,8.250602e+09,황정숙막국수,강원 동해시 중앙로 42,강원 동해시 용정동 233-8,3221040.0,4.217010e+09,2022-10-22 12:17:00.000,1.0,25000.0,메밀전병;물막국수,NaN
22299,b_b010055,2210260003,3,0,0,1,1,4.628802e+09,(주)쥬간도,강원 속초시 청호해안길 2,강원 속초시 조양동 1450-143,4469283.0,4.221011e+09,2022-10-26 11:46:00.000,1.0,12000.0,속초아이(대인),NaN
22300,b_b006315,2210020005,3,0,0,2,1,2.268142e+09,농업회사법인 우덕축산주식회사,강원 평창군 대관령면 꽃밭양지길 458-23,NaN,4484055.0,4.276038e+09,2022-10-02 10:31:00.000,1.0,5000.0,반려견 입장,NaN
22301,b_b001275,2208220002,1,0,0,1,1,6.218199e+09,주식회사 아난티코브,부산 기장군 기장읍 기장해안로 268-31,부산 기장군 기장읍 시랑리 704,3140057.0,2.671025e+09,2022-08-22 14:27:00.000,1.0,15500.0,NaN,NaN

In [9]:
pd.DataFrame(trav_mas)

,TRAVELER_ID,RESIDENCE_SGG_CD,GENDER,AGE_GRP,EDU_NM,EDU_FNSH_SE,MARR_STTS,FAMILY_MEMB,JOB_NM,JOB_ETC,...,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,b009514,31,여,20,6,1,1,3,3.0,NaN,...,2,4,울산광역시,경남,2인 여행(가족 외),2022-10-30~2022-10-30,6,2.0,NaN,1
1,b015795,29,여,30,6,1,1,1,3.0,NaN,...,6,6,광주광역시,대구,나홀로 여행,2022-10-29~2022-10-29,8,2.0,1.0,0
2,b004208,31,여,20,6,1,1,4,2.0,NaN,...,6,5,울산광역시,경북,2인 여행(가족 외),2022-09-24~2022-09-25,3,7.0,5.0,1
3,b006840,11,여,30,6,1,1,4,3.0,NaN,...,1,7,서울특별시,강원,나홀로 여행,2022-10-05~2022-10-05,5,7.0,1.0,1
4,b002386,26,남,40,4,1,2,4,5.0,NaN,...,7,7,부산광역시,울산,자녀 동반 여행,2022-08-22~2022-08-23,3,7.0,2.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,b006766,11,여,20,6,1,1,1,3.0,NaN,...,5,5,서울특별시,강원,3인 이상 여행(가족 외),2022-10-03~2022-10-03,7,2.0,3.0,2
3596,b000760,11,여,20,6,1,2,2,3.0,NaN,...,6,7,서울특별시,경북,2인 가족 여행,2022-08-20~2022-08-22,2,1.0,NaN,1
3597,b004329,11,남,40,6,1,2,3,3.0,NaN,...,1,7,서울특별시,강원,3대 동반 여행(친척 포함),2022-10-02~2022-10-03,2,1.0,8.0,3
3598,b005893,11,여,30,6,1,1,2,3.0,NaN,...,1,7,서울특별시,강원,3인 이상 여행(가족 외),2022-10-03~2022-10-03,7,6.0,5.0,2
3599,b018416,26,남,20,6,1,1,2,4.0,NaN,...,3,3,부산광역시,경남,나홀로 여행,2022-11-09~2022-11-09,2,1.0,6.0,0

In [10]:
cons_his["TRAVEL_ID"].nunique()

3890

# TRAVELER_ID != TRAVEL_ID (두개의 갯수가 다른 이유를 파악해봐야할거같다.)

In [11]:
# 사용할 컬럼만 추출하기
cons_his = cons_his[['TRAVEL_ID','VISIT_AREA_ID','ACTIVITY_TYPE_CD']]
trav_mas=trav_mas[["TRAVELER_ID","TRAVEL_STYL_1", "TRAVEL_STYL_2", "TRAVEL_STYL_3", "TRAVEL_STYL_4", "TRAVEL_STYL_5", "TRAVEL_STYL_6", "TRAVEL_STYL_7", "TRAVEL_STYL_8","TRAVEL_MOTIVE_1","TRAVEL_MOTIVE_2","TRAVEL_MOTIVE_3"]]

In [19]:
from preprocess import preprocess_data
mapping_plan = {'TRAVEL_STYL_1': 'TSY', 'TRAVEL_STYL_2': 'TSY', 'TRAVEL_STYL_3': 'TSY',
        'TRAVEL_STYL_4': 'TSY', 'TRAVEL_STYL_5': 'TSY', 'TRAVEL_STYL_6': 'TSY',
        'TRAVEL_STYL_7': 'TSY', 'TRAVEL_STYL_8': 'TSY','ACTIVITY_TYPE_CD':'ACT',"TRAVEL_MOTIVE_1":"TMT","TRAVEL_MOTIVE_2":"TMT","TRAVEL_MOTIVE_3":"TMT"}
rename_map = {'TRAVEL_ID':'여행ID',
'VISIT_AREA_ID':'방문지ID','ACTIVITY_TYPE_CD':'활동유형코드',"TRAVELER_ID": "여행ID", 
              "TRAVEL_STYL_1": "여행스타일1", "TRAVEL_STYL_2": "여행스타일2", "TRAVEL_STYL_3": "여행스타일3", "TRAVEL_STYL_4": "여행스타일4", "TRAVEL_STYL_5": "여행스타일5", "TRAVEL_STYL_6": "여행스타일6", "TRAVEL_STYL_7": "여행스타일7", "TRAVEL_STYL_8": "여행스타일8",
              "TRAVEL_MOTIVE_1":"여행동기_1","TRAVEL_MOTIVE_2":"여행동기_2","TRAVEL_MOTIVE_3":"여행동기_3"}
cons_his_df = preprocess_data(cons_his,"C:/Users/soomi/Desktop/miniproject/where2go/data/east/TL_csv/tc_codea_코드A.csv",
                          "C:/Users/soomi/Desktop/miniproject/where2go/data/east/TL_csv/tc_codeb_코드B.csv",mapping_plan,rename_map,
                           "C:/Users/soomi/Desktop/miniproject/where2go/data/east/cons_his_East.csv")
trav_mas_df = preprocess_data(trav_mas,"C:/Users/soomi/Desktop/miniproject/where2go/data/east/TL_csv/tc_codea_코드A.csv",
                          "C:/Users/soomi/Desktop/miniproject/where2go/data/east/TL_csv/tc_codeb_코드B.csv",mapping_plan,rename_map,
                           "C:/Users/soomi/Desktop/miniproject/where2go/data/east/trav_mas_East.csv")

컬럼 'TRAVEL_STYL_1'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_2'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_3'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_4'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_5'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_6'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_7'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_STYL_8'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_MOTIVE_1'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_MOTIVE_2'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'TRAVEL_MOTIVE_3'이 DataFrame에 존재하지 않습니다. 건너뜁니다.
컬럼 'ACTIVITY_TYPE_CD'이 DataFrame에 존재하지 않습니다. 건너뜁니다.

In [21]:
cons_his_df

            여행ID       방문지ID           활동유형코드
0      b_b011174  2210240003          쇼핑 / 구매
1      b_b004534  2210010001               취식
2      b_b005652  2210120003               취식
3      b_b006597  2210160004          쇼핑 / 구매
4      b_b002171  2208210004               취식
...          ...         ...              ...
22297  b_b000720  2209010005               취식
22298  b_b005175  2210220002               취식
22299  b_b010055  2210260003  체험 활동 / 입장 및 관람
22300  b_b006315  2210020005  체험 활동 / 입장 및 관람
22301  b_b001275  2208220002               취식

[22302 rows x 3 columns]

In [22]:
# 여행 동기를 추가해야 될것 같음
trav_mas_df

,여행ID,여행스타일1,여행스타일2,여행스타일3,여행스타일4,여행스타일5,여행스타일6,여행스타일7,여행스타일8,여행동기_1,여행동기_2,여행동기_3
0,b009514,자연 선호 약간선호,중립,자연 선호 중간선호,중립,중립,중립,자연 선호 중간선호,중립,"운동, 건강 증진 및 충전","쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식",NaN
1,b015795,도시 선호 중간선호,자연 선호 매우선호,자연 선호 매우선호,자연 선호 약간선호,도시 선호 중간선호,자연 선호 매우선호,도시 선호 중간선호,도시 선호 중간선호,"역사 탐방, 문화적 경험 등 교육적 동기","쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식","일상적인 환경 및 역할에서의 탈출, 지루함 탈피"
2,b004208,중립,자연 선호 약간선호,자연 선호 약간선호,중립,중립,중립,도시 선호 중간선호,도시 선호 약간선호,여행 동반자와의 친밀감 및 유대감 증진,새로운 경험 추구,SNS 사진 등록 등 과시
3,b006840,중립,중립,자연 선호 중간선호,자연 선호 중간선호,도시 선호 중간선호,도시 선호 약간선호,자연 선호 매우선호,도시 선호 매우선호,SNS 사진 등록 등 과시,새로운 경험 추구,"일상적인 환경 및 역할에서의 탈출, 지루함 탈피"
4,b002386,자연 선호 매우선호,자연 선호 매우선호,자연 선호 약간선호,자연 선호 약간선호,자연 선호 매우선호,자연 선호 중간선호,도시 선호 매우선호,도시 선호 매우선호,여행 동반자와의 친밀감 및 유대감 증진,새로운 경험 추구,"쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식"
...,...,...,...,...,...,...,...,...,...,...,...,...
3595,b006766,자연 선호 매우선호,자연 선호 중간선호,자연 선호 매우선호,중립,자연 선호 약간선호,자연 선호 약간선호,도시 선호 약간선호,도시 선호 약간선호,새로운 경험 추구,"쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식",여행 동반자와의 친밀감 및 유대감 증진
3596,b000760,중립,자연 선호 매우선호,자연 선호 약간선호,도시 선호 약간선호,도시 선호 중간선호,중립,도시 선호 중간선호,도시 선호 매우선호,"쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식","일상적인 환경 및 역할에서의 탈출, 지루함 탈피",NaN
3597,b004329,자연 선호 매우선호,자연 선호 약간선호,자연 선호 매우선호,도시 선호 약간선호,도시 선호 매우선호,중립,자연 선호 매우선호,도시 선호 매우선호,"쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식","일상적인 환경 및 역할에서의 탈출, 지루함 탈피","역사 탐방, 문화적 경험 등 교육적 동기"
3598,b005893,자연 선호 매우선호,자연 선호 매우선호,자연 선호 중간선호,자연 선호 약간선호,자연 선호 약간선호,자연 선호 매우선호,자연 선호 매우선호,도시 선호 매우선호,새로운 경험 추구,"운동, 건강 증진 및 충전",SNS 사진 등록 등 과시
3599,b018416,도시 선호 중간선호,중립,도시 선호 중간선호,자연 선호 약간선호,자연 선호 중간선호,도시 선호 약간선호,자연 선호 약간선호,자연 선호 약간선호,"쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식","일상적인 환경 및 역할에서의 탈출, 지루함 탈피","운동, 건강 증진 및 충전"

In [29]:
cons_his_df[cons_his_df["여행ID"]=="b_b015795"]

            여행ID       방문지ID           활동유형코드
4463   b_b015795  2210290005               취식
12910  b_b015795  2210290004  체험 활동 / 입장 및 관람

In [27]:
trav_mas_df["여행스타일1"].value_counts(dropna=False)

자연 선호 중간선호    994
중립            751
자연 선호 매우선호    696
자연 선호 약간선호    519
도시 선호 중간선호    285
도시 선호 약간선호    226
도시 선호 매우선호    129
Name: 여행스타일1, dtype: int64

In [26]:
trav_mas_df["여행동기_1"].value_counts(dropna=False)

일상적인 환경 및 역할에서의 탈출, 지루함 탈피          928
여행 동반자와의 친밀감 및 유대감 증진               876
쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식       811
새로운 경험 추구                           349
역사 탐방, 문화적 경험 등 교육적 동기              155
운동, 건강 증진 및 충전                      127
진정한 자아 찾기 또는 자신을 되돌아볼 기회 찾기         121
SNS 사진 등록 등 과시                       99
특별한 목적(칠순여행, 신혼여행, 수학여행, 인센티브여행)     87
기타                                   47
Name: 여행동기_1, dtype: int64

# 불일치율을 설명하기엔 스타일이나 동기로는 뭔가 부족하다고 느낌 여행 목적, 방문지유형코드 등을 더 넣어야 할거같음....
## 생각보다 더 복잡.... 
[고려해볼 컬럼]
TN_VISIT_AREA_INFO  -> VISIT_AREA_TYPE_CD["vis"] = 방문지유형코드
TN_VISIT_AREA_INFO  -> VISIT_CHC_REASON_CD['REN'] = 방문지선택이유코드